/* Font */
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'K2D', sans-serif;
}

#first {
    background-image: url('../img/bg3.jpg');
    background-size: 1440px 728px;
    background-position: center;
}

.k {
    color: #E5E758;
}

/* Navbar code */
nav {
    display: flex;
    margin: auto;
    width: 100%;
    height: 75px;
    position: fixed;
    font-family: 'K2D', sans-serif;
    /* top: 0px; */
    z-index: 99;
    background-color: #3F3D56;
}

.nav-wrap {
    width: 1440px;
    display: block;
    position: relative;
    float: left;
    padding: 10px;
    align-items: center;
}

.nav-image img {
    height: 48px;
    position: relative;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
}

.nav-brand a {
    position: relative;
    float: left;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav-tab {
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
    float: right;
    display: flex;
    padding: 10px;
}

.nav-tab a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.bayar {
    padding-top: 150px;
}

.judul {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: auto;
    background-color: #3F3D56;
    border-radius: 50px;
    color: white;
}


.kumpulan-crd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.crd {
    border: 2px solid #3F3D56;
    border-radius: 25px;
    padding: 30px;
    margin: 50px;
    text-align: center;
}

.crd #harga {
    font-size: 40px;
}

.crd ul {
    text-align: left;
    list-style: none;
}

.crd .beli {
    border: 0px;
    border-radius: 35px;
    background-color: #3F3D56;
    color: #E5E758;
    font-size: 20px;
    font-family: 'K2D', sans-serif;
    padding: 20px;
    width: 200px;
}