/* Font */
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'K2D', sans-serif;
}

#first {
    background-image: url('../img/bg3.jpg');
    background-size: 1440px 728px;
    background-position: center;
}

.k {
    color: #E5E758;
}

/* Navbar code */
nav {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 75px;
    position: fixed;
    font-family: 'K2D', sans-serif;
    /* top: 0px; */
    background: none;
    z-index: 99;
    transition: 0.5s;
}

.nav-wrap {
    width: 1440px;
    display: block;
    position: relative;
    float: left;
    padding: 10px;
    align-items: center;
}

.scroll {
    background-color: #3F3D56;
    transition: 0.5s;   
    height: 75px;
    border-radius: 50px;
    margin: 20px;
    width: 97%;

}

.nav-image img {
    height: 48px;
    position: relative;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
}

.nav-brand a {
    position: relative;
    float: left;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav-tab {
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
    float: right;
    display: flex;
    padding: 10px;
}

.nav-tab a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* Tagline */
.tagline {
    color: white;
    text-align: center;
    height: 650px;
    padding-top: 520px;
    font-size: 28px;
    font-weight: 100;
}

/* Bagian kedua */

.second, .second2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    margin-right: 40px;
    font-family: 'K2D', sans-serif;
    transform: translateY(100%);
    transition: transform 0.7s ease;
}

.lan {
    display: contents;
}

.log {
    display: none;
}
.second .desimg img, .second2 .desimg img {
    text-align: center;
    margin-top: 120px;
    width: 625px;
    height: 401px;
}

.desec {
    margin: 50px;
    width: 1440;
    height: 575px;
}

.desec h1,
.about h1 {
    font-size: 32pt;
}

.desec h1 {
    border-radius: 50px;
    background-color: #3F3D56;
    color: white;
    text-align: center;
    padding: 10px;
    width: fit-content;
    padding: 25px;
    padding-top: 10px;
    height: 80px;
}

.desec p,
.tom-daf {
    font-size: 20pt;
    color: #3F3D56; 
    line-height: 50px;
}

.kotak {
    vertical-align: center;
    border: 0px;
    border-radius: 50px;
    background-color: #3F3D56;
    padding-left: 20px;
    padding-right: 20px;
}

.tom-daf {
    border: 0px;
    border-radius: 50px;
    background-color: #D9D9D9;
    margin-top: 50px;
    width: 200px;
    height: 60px;
}

.tom-daf a {
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    color: #3F3D56;
}


/* About */
#about {
    background-color: #E5E758;
    height: 370px;
    padding: 10px;
    text-align: center;
}

.about h1,
.about p {
    color: #3F3D56;
    /* animation: fade-up 0.5s ease; */
}

.about {
    transform: translateY(100%);
    transition: transform 0.4s ease;
    opacity: 1;
}

.show {
    transform: translateY(0%);
    transition: transform 0.5s ease;
    opacity: 1;
}

/* @keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */

.about p {
    display: inline-block;
    font-size: 22pt;
    width: 900px;
}

/* pupular */
.popular {
    height: 640px;
}

.kumpulan-crd {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    transform: translateY(100%);
    transition: transform 0.7s ease;
    opacity: 1;
}

.show2 {
    transform: translateY(0%);
    transition: transform 0.7s ease;
    opacity: 1;
}

.popular h1 {
    padding-top: 30px;
    padding-left: 70px;
}

.popular .crd {
    display: block;
    border-radius: 35px;
    width: 300px;
    height: 430px;
    background-color: #E5E758;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.popular .crd img {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    width: 300px;
    height: 250px;
}

.popular .crd .caps {
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    color: #3F3D56;
}


/* footer */
#footer {
    background-color: #E5E758;
    text-align: center;
}

footer .ft-img img {
    height: 60px;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 40px;
}

footer .ft-img a:nth-child(1):hover img {
    background-color: #4267B2 !important;
    transition: 1.5s;
}

footer .ft-img a:nth-child(2):hover img {
    background-color: #FD1D1D !important;
    transition: 1.5s;
}

footer .ft-img a:nth-child(3):hover img {
    background-color: #1DA1F2 !important;
    transition: 1.5s;
}

footer .ft-img a:nth-child(4):hover img {
    background-color: #25D366 !important;
    transition: 1.5s;
}

footer .ft-caps {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
} 